* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url('img/picture1.jpg');
  height: 100vh;
  padding: 2rem;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  padding: 0 2rem;
}

h3{
  font-family: serif;
  font-size: 7rem;
  font-weight: 500;
  position: absolute;
  right: 50%;
  top: 5cm;
  color: white;
}

.header__title {
  flex: 1;

  max-width: 115rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  row-gap: 3rem;

  position: absolute;
  left: 12%;
  top: 30%;
}

h4 {
  font-size: 5.5rem;
  line-height: 1.35;
  color: white;
}

.highlight {
  position: relative;
}

.highlight::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 110%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: linear-gradient(to top left, #095437, #80cb3e);
}

.hidden{
  display: none;
}

.welcome {
  font-size: 2.5rem;
  font-weight: 500;
  margin-right: 10px;
}

@keyframes symbole{
  from, to, 65% {transform: translate(-50%, 10)}
  25% {transform: translate(-50%, 40px)}
  26% {transform: translate(-50%, -20px)}

}

.minus {
  margin: 20px auto;
  left: 76%;
  width: 30px;
  height: 40px;
  transform: translateX(-50%);
  position: absolute;
  top: -0.4cm;
  animation: symbole 5s cubic-bezier(0.645,.045,.355,1) infinite;
}

.plus{
  position: absolute;
  width: 50px;
  height: 60px;
  top: 0cm;
  right: 21.5%;
}

.direction{
  font-size: 2.5rem;
  font-weight: 500;
}

.createUser{
  display: flex;
  margin-right: 160px;
}

.btnCreateUser{
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.1s;
  padding: 5px 12px;
  outline: none;
}

.btnCreateUser:hover {background-color: #3e8e41}

.btnCreateUser:active {
  background-color: #3e8e41;
  box-shadow: 0 5px rgba(102, 102, 102, 0.581);
  transform: translateY(4px);
}


.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50rem;
  background-color: #f3f3f3;
  padding: 5rem 10rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.modal__form {
  margin: 0 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 2.5rem;
}

.modal__form label {
  font-size: 2rem;
  font-weight: 500;
}

.modal__form input {
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.modal__form button {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 1rem;
}

h1{
  font-size: 3.25rem;
  margin-bottom: 4rem;
  line-height: 1.5;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.login {
  display: flex;
}

.login__input {
  border: none;
  padding: 0.5rem 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  text-align: center;
  width: 12rem;
  border-radius: 10rem;
  margin-right: 1rem;
  color: inherit;
  border: 1px solid #fff;
  transition: all 0.3s;
}

.login__input:focus {
  outline: none;
  border: 1px solid #ccc;
}

.login__input::placeholder {
  color: #bbb;
}

.login__btn {
  border: none;
  background: none;
  font-size: 2rem;
  color: inherit;
  cursor: pointer;
  transition: all 0.1s;
  padding: 5px 12px;
  outline: none;
  border-radius: 15px;
}

.login__btn:hover {background-color: #3e8e41}

.login__btn:active {
  background-color: #3e8e41;
  box-shadow: 0 5px rgba(102, 102, 102, 0.764);
  transform: translateY(4px);
}

.login__btn:hover,
.login__btn:focus,
.btn--sort:hover,
.btn--sort:focus {
  outline: none;
  color: #777;
}

.error {
  position: relative;
  animation: shake .1s linear;
  animation-iteration-count: 3;
}

@keyframes shake {
  0% {left: -5px;}
  100% {right: -5px;}
}

/* MAIN */
.app {
  position: relative;
  top: 2cm;
  max-width: 100rem;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 15rem) auto;
  gap: 2rem;

  /* NOTE This creates the fade in/out animation */
  opacity: 0;
  transition: all 1s;
}

.balance {
  grid-column: 1 / span 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.balance__label {
  font-size: 2.2rem;
  font-weight: 500;
  margin-bottom: -0.2rem;
  color: white;
}

.balance__date {
  font-size: 1.4rem;
  color: #888;
}

.balance__value {
  font-size: 4.5rem;
  font-weight: 400;
  color: white;
}

/* MOVEMENTS */
.movements {
  grid-row: 2 / span 3;
  background-color: #fff;
  border-radius: 1rem;
  overflow: scroll;
}

.movements__row {
  padding: 2.25rem 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.movements__type {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: 0.1rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
}

.movements__date {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #666;
}

.movements__type--deposit {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.movements__type--withdrawal {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.movements__value {
  font-size: 1.7rem;
  margin-left: auto;
}

/* SUMMARY */
.summary {
  grid-row: 5 / 6;
  display: flex;
  align-items: baseline;
  padding: 0rem;
  margin-top: 0rem;
  position: absolute;
  bottom: -0.3cm;
  right: 13cm;
}

.summary__label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
  color: white;
}

.summary__value {
  font-size: 2.2rem;
  margin-right: 2.5rem;
}

.summary__value--in,
.summary__value--interest {
  color: #7fdb8b;
}

.summary__value--out {
  color: #ff596f;
}

.btn--sort {
  margin-left: auto;
  border: none;
  background: none;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
  color: white;
}

/* OPERATIONS */
.operation {
  border-radius: 1rem;
  padding: 3rem 4rem;
  color: #333;
}

.operation--transfer {
  background-image: linear-gradient(to top left, #4b43b9, #9e5f99);
}

.operation--loan {
  background-image: linear-gradient(to top left, #48d3cc, #b6e265);
}

.operation--close {
  background-image: linear-gradient(to top left, #a71515, #ee8989);
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  font-weight: 600;
  color: #333;
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
}

/* Exceptions for interst */
.form.form--loan {
  grid-template-columns: 2.5fr 1fr 2.5fr;
}
.form__label--loan {
  grid-row: 2;
}
/* End exceptions */

.form__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.form__label {
  font-size: 1.3rem;
  text-align: center;
}

.form__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.form__btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}

.logout-timer {
  padding: 0 0.3rem;
  margin-top: 1rem;
  text-align: right;
  font-size: 1.25rem;
  position: absolute;
  top: 97%;
  right: 0.5cm;
  color: white;
}

.timer {
  font-weight: 600;
}

#submit{
  margin-top: 2rem;
}

/*------------------------------------------------------Phone media------------------------------------------------------------- */

@media only screen and (max-width: 480px)
{
  .login__btn{
    margin-right: -1cm;
  }

  .direction,
  .welcome{
    display: none;
  }
  
  nav{
   align-items: center;
  }

  .createUser {
    margin-right: 0;
  }

  .modal{
    padding: 1rem 3rem;
  }

  .balance__label {
    font-size: 2.2rem;
    font-weight: 500;
    position: absolute;
    left: 2.5cm;
    top:-3.5cm;
    color: white;
  }
  
  .balance__date {
    position: absolute;
    left: 2.6cm;
    top: -2.7cm;
  }
  
  .balance__value {
    font-size: 4rem;
    position: absolute;
    left: 2.3cm;
    top: -1.2cm;
  }

  .app{

      position: relative;
      top: 4.5cm;
      max-width: 100rem;
      margin: 4rem auto;
      display: grid;
      grid-template-columns: 4fr 3fr;
      grid-template-rows: auto repeat(3, 15rem) auto;
      gap: 2rem;
  }

  .operation--close {
    display: none;
  }
  
  .operation--transfer {
    background-image: linear-gradient(to top left, #4b43b9, #9e5f99);
    height: 3.5cm;
    position: inherit;
    bottom: -13cm;
    right: 10.5cm;
  }
  
  .operation--loan {
    background-image: linear-gradient(to top left, #48d3cc, #b6e265);
    height: 3.5cm;
    position: inherit;
    bottom: -8.5cm;
    right: 6cm;
  }

  .movements {
    padding: 0rem 19rem 2rem;
  }
  
  .movements__row {
    margin-left: -5cm;
  }
  
  .movements__type {
    margin-right: 4rem;
  }
  
  .movements__date {
    margin-right: 4rem;
  }

  .movements__type {
    font-size: 1.2rem;
    padding: 0.3rem 1rem;
    border-radius: 4rem;
    margin-right: 3rem;
  }

  .logout-timer {
    padding: 0 0.3rem;
    margin-top: -13.5cm;
    text-align: right;
    font-size: 1.25rem;
    position: absolute;
    top: 97%;
    right: 2.7cm;
    color: white;
  }

  .minus{
    display: none;
  }

  .plus{
    display: none;
  }
}